<div class="ui comments" *ngIf='tweets.length'>
  <div class="comment" *ngFor='let tweet of tweets'>
    <a class="avatar">
      <img src="/assets/avatars/{{tweet.avatar}}">
    </a>
    <div class="content">
      <a class="author">{{tweet.author}}</a>
      <div class="metadata">
        <span class="date"> {{tweet.date  }}</span>
      </div>
      <div class="text">
        {{tweet.body}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
        <a class="like">
          <i class="like icon"></i> {{tweet.favorites.length}} Favorites
        </a>

        <a class="retweet">
          <i class="retweet icon"></i> {{tweet.retweets.length}} Retweets
        </a>
      </div>
    </div>
  </div>
</div>
<div *ngIf='!tweets.length'>
  <h2>No tweets today.</h2>
</div>
<form class="ui reply form">
  <div class="field">
      <textarea>Gnarly Bro, nothing bogus here!
      </textarea>
  </div>
  <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
  </div>
</form>
